@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --woodsmoke: #09090B;
  --white: #FFFFFF;
  --alabaster: #FAFAFA;
  --storm-gray: #71717B;
  --iron: #E4E4E7;
  --shark: #27272A;
  --santas-gray: #A1A1AA;
  --athens-gray: #F4F4F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-woodsmoke: var(--woodsmoke);
  --color-alabaster: var(--alabaster);
  --color-storm-gray: var(--storm-gray);
  --color-iron: var(--iron);
  --color-shark: var(--shark);
  --color-santas-gray: var(--santas-gray);
  --color-athens-gray: var(--athens-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@keyframes slideshow {
  0%, 30% { transform: translateX(0); }
  33%, 63% { transform: translateX(-100px); }
  66%, 96% { transform: translateX(-200px); }
  100% { transform: translateX(0); }
}

@keyframes ticker {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-slideshow {
  animation: slideshow 9s infinite;
}

.animate-ticker {
  animation: ticker 12s linear infinite;
}
